
<ion-view view-title = "Nouvel-Exercice">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
            </label>
        </div>
        <div class="bar bar-footer">
            <button class="col col-40 button button-assertive" ui-sref="tab.dash">Annuler</button>
            <button class="col col-40 button button-balanced">Valider</button>
        </div>
    </ion-content>
</ion-view>
