<ion-view view-title="home">
    <ion-content>
        <p>
            <a ui-sref="home">Home</a>
        </p>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse exercitationem labore magni non obcaecati
            odio praesentium sed? Aspernatur distinctio ipsum itaque laudantium nostrum odit veniam. Aut eveniet impedit
            sapiente tempora.
        </div>
        <div>Ab accusamus adipisci amet animi architecto beatae consectetur cupiditate doloribus explicabo hic in ipsum
            magnam nihil non optio perferendis provident quasi quidem recusandae reprehenderit sequi, suscipit tempora
            tenetur vitae voluptatem.
        </div>
        <div>Ad aperiam architecto dicta ea est iste velit! A alias asperiores atque consequuntur cum cupiditate,
            dolorem doloremque dolores et inventore iste libero nam odio omnis quas quidem ullam veritatis vero!
        </div>
        <div>Accusantium dolores eaque error, exercitationem fuga harum iure nobis nostrum omnis porro quibusdam
            quisquam sint sit veniam veritatis? Consequuntur ducimus, eligendi inventore libero molestiae nisi quibusdam
            quo repellat sint soluta?
        </div>
        <div>Alias aliquid assumenda beatae blanditiis debitis dignissimos dolores dolorum, ducimus, earum et eum
            expedita facilis fugit iusto magnam maiores nam necessitatibus non perferendis perspiciatis quidem quisquam
            quod, sint tenetur velit.
        </div>
        <div>Esse laborum necessitatibus ratione vero voluptatum. Adipisci, aperiam commodi debitis eum excepturi
            exercitationem inventore labore magnam natus non quia, ut voluptate! Autem delectus deleniti dolor, ipsam
            nemo quidem soluta tempore.
        </div>
        <div>Ad aut beatae blanditiis deleniti deserunt doloribus dolorum ex expedita explicabo, facere illo libero
            magnam, mollitia nobis omnis perspiciatis quaerat quo quos reprehenderit sint, temporibus totam voluptas
            voluptates! Aperiam, sed.
        </div>
        <div>Dolorum enim, omnis qui sed sint ullam voluptatem voluptatum! Accusantium alias aspernatur at autem cum
            dolor ducimus exercitationem impedit iusto minima nam pariatur perspiciatis, quibusdam quisquam saepe sequi
            tempora tempore?
        </div>
        <div>Aliquid aspernatur autem deleniti earum eum fuga harum laudantium modi mollitia quaerat quisquam reiciendis
            saepe sapiente, similique temporibus? Aliquam at, consectetur dolorem et incidunt ipsam non quia quos vel
            voluptatem!
        </div>
        <div>Accusamus atque eos et eum, fuga illo illum itaque iusto modi nulla pariatur, perspiciatis porro
            recusandae, saepe sunt? Aperiam cum dolorum eos eveniet explicabo illum itaque, laborum numquam recusandae
            vitae.
        </div>
    </ion-content>
</ion-view>