<ion-view view-title="Dashboard">
  <ion-content>
    <div class="dashboard">
      <h2>Welcome to Ionic {{ name }}</h2>



      <div class="row">

        <div class="col col-50">
          <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi, dolorum enim expedita
            facilis inventore, iure libero molestiae nam nobis, quae quos sapiente sed soluta unde. Autem facere hic
            odio!
          </div>
        </div>

        <div class="col col-50">


      </div>

      <button class="button button-assertive add-exo" ng-click="new()">
        <i class="icon ion-plus"></i>
      </button>
    </div>
  </ion-content>
</ion-view>
