<ion-view view-title = "video">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        video
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto at cum dolore eligendi, est eveniet
            inventore ipsam iure iusto neque, nisi odio officia qui quisquam quod sequi tempore voluptatum!
        </div>
        <div>Ab accusamus adipisci dignissimos dolore doloribus est eveniet, excepturi fuga impedit inventore ipsam
            laborum magnam minima minus nesciunt nostrum, officiis placeat provident ratione rerum sequi similique
            veniam! Ea, mollitia natus?
        </div>
        <div>Architecto dolorem eius eligendi esse ex facere, fugit laboriosam libero nesciunt, nisi omnis, perferendis
            provident suscipit? Aliquam atque, consequatur ea earum in maxime omnis praesentium quibusdam quis
            reiciendis sapiente velit?
        </div>
        <div>Atque commodi deserunt dolorum eveniet expedita hic ipsum molestiae nemo obcaecati, quae quos tenetur vero,
            voluptatem. Dolorum et inventore obcaecati placeat? Dignissimos ea error, facilis modi provident quia
            voluptate voluptatem.
        </div>
        <div>Aperiam commodi corporis debitis deserunt dignissimos distinctio doloremque, ducimus et ex fuga fugiat
            ipsam maxime nostrum repellat rerum similique ut, voluptate voluptatum. A ad facilis itaque neque quis sit
            suscipit!
        </div>
        <div>Accusantium, animi aperiam atque blanditiis commodi cumque, dignissimos dolor eaque enim et hic incidunt
            ipsa ipsum laboriosam laborum laudantium libero molestias provident quas quos recusandae, repellendus rerum
            saepe! Assumenda, dolor.
        </div>
        <div>Accusamus aliquid, aspernatur et expedita hic illum impedit, in iusto nemo nesciunt qui quidem sequi,
            tempore. Alias aliquam consectetur deleniti maxime obcaecati omnis perspiciatis quisquam. Dolorum illo ipsum
            non officiis.
        </div>
        <div>Ad commodi iure magni natus nemo quae saepe sit vitae. Adipisci animi at aut cum, cupiditate dolor fugit
            iste itaque iure laudantium molestiae mollitia natus pariatur quasi quidem, veritatis voluptate!
        </div>
        <div>Accusantium, alias aliquid aperiam asperiores assumenda cupiditate dicta distinctio dolores doloribus eius,
            eveniet impedit inventore itaque molestiae nam neque officia quae, quas quasi ratione sapiente sit sunt
            tempora tempore voluptatem?
        </div>
        <div>Accusantium architecto aut dignissimos ducimus eligendi eos error eum fugit illo, laboriosam laborum magni
            nam nesciunt nisi praesentium quas quidem recusandae, rerum unde voluptatem! Earum incidunt magnam maiores
            numquam quos?
        </div>
    </ion-content>
</ion-view>
